.blog-card {
  display: flex;
  flex-direction: column;

  padding: 10px 10px 8px;

  border: 1px solid #f5f5f5;
  border-radius: 10px;

  background: var(--white);
}

.image {
  position: relative;

  width: 100%;
  height: 200px;

  margin-bottom: 15px;
}

.image img {
  border-radius: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5px;

  font-size: 12px;
}

.post-info span {
  display: inline-block;
}

.theme {
  color: #4b4b4b;
}

.dot {
  margin: 0 5px;
}

.dot,
.date {
  color: var(--gray);
}

.header {
  color: #2c2c2c;
}

.paragraph {
  display: -webkit-box;

  overflow: hidden;

  margin-top: 2px;

  color: var(--gray);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 16px;
}

.read-time {
  color: var(--gray);

  font-size: 12px;
  line-height: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--blue);

  font-size: 12px;
  line-height: 16px;
}

.link svg {
  stroke: var(--blue);
}
