.default {
  font-size: 18px;
  line-height: 29px;
}

.p {
  margin: 0;
}

.l {
  font-size: 18px;
  line-height: 29px;
}

.m {
  font-size: 16px;
  line-height: 24px;
}

.s {
  font-size: 14px;
  line-height: 24px;
}

.xs {
  font-size: 14px;
  line-height: 21px;
}
