:root {
  --background: #f5f6f8;
  --foreground: var(--black);
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --gray-light: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
